spring:
  application:
    name: sgu-extra-sisu-service
  config:
    import:
      - optional:file:.env[.properties]
      - optional:configserver:http://localhost:8888
  profiles:
    active: default

server:
  port: 8085
---

springdoc:
  api-docs:
    path: /api-doc/docs
  swagger-ui:
    path: /api-doc/swagger.html

spring:
  config:
    activate:
      on-profile: test
    import: []
  
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:transporte;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    show-sql: true
    database: h2
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: never